[Desktop Entry]
Encoding=UTF-8
Name=Gongxincoin
Comment=Gongxincoin P2P Cryptocurrency
Comment[fr]=Gongxincoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Gongxincoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/gongxincoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/gongxincoin;
Categories=Office;
